<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
    For detailled documentation of this file see
    https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file
  -->
  <config>
    <!-- 
    Used to specify the default location to expand packages.
    See: NuGet.exe help install
    See: NuGet.exe help update
    NOTE: only applies to projects using packages.config.
    -->
    <add key="repositoryPath" value="packages" />
    <!-- 
    Used to specify the default location to expand packages.
    NOTE: only applies to projects using PackageReference format.
    -->
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <!--
  Used to specify the default Sources for list, install and update.
  See: NuGet.exe help list
  See: NuGet.exe help install
  See: NuGet.exe help update
  -->
  <!-- used to store credentials -->
  <packageSourceCredentials />
  <!-- Used to specify which one of the sources are active -->
  <activePackageSource>
    <!-- this tells that all of them are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <!-- Used to disable package sources  -->
  <disabledPackageSources />
</configuration>